# do not allow web access to some directories
RedirectMatch 404 \/.git
RedirectMatch 404 \/templates
RedirectMatch 404 README.md
RedirectMatch 404 LICENSE
RedirectMatch 404 database.sql

Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ /index.html [QSA,L]
